//Funciones para convertir px a em y rem
@import "src/sass/components/functions";

// Variables globales (puede sobreescribirlas antes de importar ED grid)
// No las sobreescriba aquí, sino desde su proyecto.
  $cssCore    : false !default; //Compila todo el css (no recomendado si se trabaja con sass).
  $cssHelpers : false  !default; //Ayudas extras para el layout (para alinear elementos, limpiar los floats, controlar el padding, etc...) Se recomienda activarlo.
  $buttons    : false  !default;
  $devMode    : false !default; //Ayuda visual que nos permite ver en el navegador breakpoints, el tamaño de los elementos, el area disponible etc...

// Selectores (clases) para flex-container y flex-item

  $container : nds-container !default; // Permite modificar el nombre de las clases usadas como contenedor e item.
  $item      : nds-item !default;

// Ancho máximo para los contenedores
  $max-width : 100% !default;

// Seperación horizontal entre items (*2)
  $gutter : 1rem !default;

// Breakpoints
  $breakpoints : (
    s  : 0,
    m  : 660px,
    l  : 1024px,
    xl : 1440px
  ) !default;

// Fracciones para calcular anchos de los items
  $fractions : 3 6 !default;

// z-index
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

// Colors & Tipography
@import "src/sass/colors";
@import "src/sass/tipography";

// Importar componentes
@import "src/sass/components/media-queries";   // mixins from(), to(), fromTo()
@import "src/sass/components/helpers";         // utilidades
@import "src/sass/core";                                   // core de EDgrid (containers y items)
// @import "src/sass/components/grid";            // mixin grid()
@import "src/sass/components/visibility";      // mixins para visibilidad
@import "src/sass/components/flexbox";         // utilidades con flexbox
@import "src/sass/components/buttons";         // mixin button()