<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Lato:400,400i,700|Material+Icons" rel="stylesheet">
    <title>CSS ColorVars | The use of CSS Color Vars (interactive code generation tool), which defines a color palette with CSS variables, improves efficiency in front-end web development.</title>
    <meta description="The use of CSSColorVars (interactive code generation tool), which defines a color palette with CSS variables, improves efficiency in front-end web development. No longer depend on CSS preprocessors to create color variables, use dynamic CSS variables. The CSSColorVars interactive tool helps you create your color palette with CSS variables and be able to use dynamic functions to lighten, darken and reveal the color of your palette.">  
  </head>
  <body>
    <noscript>
      <strong>We're sorry, but CSS ColorVars does not work properly without JavaScript enabled. Please, activate it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
