//Funciones para convertir px a em y rem
@import "src/sass/components/functions";

// Variables globales (puede sobreescribirlas antes de importar ED grid)
// No las sobreescriba aquí, sino desde su proyecto.
  $cssCore    : false  !default; //Compila todo el css (no recomendado si se trabaja con sass).
  $cssHelpers : true  !default; //Ayudas extras para el layout (para alinear elementos, limpiar los floats, controlar el padding, etc...) Se recomienda activarlo.
  $buttons    : false  !default;
  $devMode    : false !default; //Ayuda visual que nos permite ver en el navegador breakpoints, el tamaño de los elementos, el area disponible etc...

// Selectores (clases) para flex-container y flex-item

  $container : nds-container !default; // Permite modificar el nombre de las clases usadas como contenedor e item.
  $item      : nds-item !default;

// Ancho máximo para los contenedores
  $max-width : 1200px !default;

// Seperación horizontal entre items (*2)
  $gutter : 1rem !default;

// Breakpoints
  $breakpoints : (
    s  : 0,
    m  : 640px,
    l  : 1024px,
    xl : 1440px
  ) !default;

// Fracciones para calcular anchos de los items
  $fractions : 3 6 !default;

// Importar componentes
@import "src/sass/components/base";            // estilos base
@import "src/sass/components/media-queries";   // mixins from(), to(), fromTo()
@import "src/sass/components/helpers";         // utilidades
// @import "src/sass/components/dev";             // modo dev
@import "src/sass/components/core";            // core de EDgrid (containers y items)
// @import "src/sass/components/grid";            // mixin grid()
@import "src/sass/components/visibility";      // mixins para visibilidad
@import "src/sass/components/video";           // video RWD
// @import "src/sass/components/ed-menu";         // estilos para menus
@import "src/sass/components/flexbox";         // utilidades con flexbox
// @import "src/sass/components/offset";          // offsets
// @import "src/sass/components/buttons";         // mixin button()
// @import "src/sass/components/css-core";        // componentes que se compilaran por default a css
@import "src/sass/components/css-helpers";     // ayudas en css (por medio de clases)
// @import "src/sass/components/grid-v3";         // ayudas en css (por medio de clases)
@import "src/sass/components/layout";          // l-block y l-section
